* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    margin: 0;
}

h4, p {
    margin-top: 16px;
    margin-bottom: 16px;
}

button {
    margin-top: 16px;
}

.grid.sm {
    row-gap: 8px;
    grid-template-columns: 50% 50%;
    margin-bottom: 16px;
    margin-right: 18px;
    p, button {
        margin-top: 0;
        margin-bottom: 0;
    }
}

main {
    margin-top: 64px;
    padding: 16px;
}

a:focus {
    background: none;
}

.nft {
    display: inline-block;
    padding: 8px;
    margin: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    > img {
        max-width: 100px;
    }
    > p {
        margin: 4px;
    }
}